body{
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
h2{
    font-weight: 500;
}
.navbar img{
    width: 3%;
}
img{
    width: 100%;
}
hr{
    border-width: 2px;
    border-color: aqua;
}
i{
    color: white;
}
.card img{
    object-fit: cover;
    object-position: center;
    height: 180px;
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    object-fit: cover;
    height: 100%;
}